<div class="container">
  <h1 class="m-4" ><%= @organization.name %></h1>
  <div class="line"></div>
  <div class="d-flex d-wrap">
    <% @teams.each do |team| %>
    <div class="team-card">
      <p class="team-title"><%= team.name %></p>
        <% team.plans.each do |plan| %>
          <p> <%= plan.tool.name %> to remplace by image</p>
        <% end %>
    </div>
    <% end %>
  </div>
</div>
