<h1> <%= @team.name.upcase %> TEAM </h1>

<p> Welcome <%= current_user.first_name %> <%= current_user.last_name %></p>

<p> TO DO : Render une partial avec les tools de la team </p>

<%= link_to "Back", :back, class: "btn btn-dark" %>
