<div class="team-navbar">
  <div class="team-navbar-item" data-navbar-target="members" data-action="click->navbar#fire">Members</div>
  <div class="team-navbar-item" data-navbar-target="tools" data-action="click->navbar#fire">Tools</div>
  <div class="team-navbar-item" data-navbar-target="licenses" data-action="click->navbar#fire">Licenses</div>
</div>
