<div class="team-navbar-line">
  <div class="team-navbar">
    <% if active_tab == "members" %>
      <button class="btn team-navbar-item nvbactive" data-navbar-target="members" data-action="click->navbar#fire">Members</button>
    <% end %>
    <button class="btn team-navbar-item <%= "nvbactive" if active_tab == "tools" %>" data-navbar-target="tools" data-action="click->navbar#fire">Tools</button>
    <button class="btn team-navbar-item" data-navbar-target="licenses" data-action="click->navbar#fire">Licenses</button>

    <div class="ms-auto <%= "d-none" if current_user.role == "Employee" %>">
      <% if active_tab == "members" %>
        <div class="add ms-auto" data-navbar-target="memberIcon" data-bs-toggle="modal" data-bs-target="#membersModal"><i class="fa-solid fa-plus icon-add-user"></i></div>
      <% end %>
      <div class="add ms-auto <%= "d-none" unless active_tab == "tools" %>" data-navbar-target="toolIcon" data-bs-toggle="modal" data-bs-target="#toolsModal"><i class="fa-solid fa-plus icon-add-user"></i></div>
      <div class="add ms-auto d-none" data-navbar-target="licenseIcon" data-bs-toggle="modal" data-bs-target="#licensesModal"></div>
    </div>
  </div>
</div>
