<div class="team-navbar">
  <button class="btn team-navbar-item nvbactive" data-navbar-target="tools" data-action="click->navbar#fire">Tools</button>
  <button class="btn team-navbar-item" data-navbar-target="licenses" data-action="click->navbar#fire">Licenses</button>

  <div class="add ms-auto" data-navbar-target="toolIcon" data-bs-toggle="modal" data-bs-target="#toolsModal"><i class="fa-solid fa-plus icon-add-user"></i></div>
  <div class="add ms-auto d-none" data-navbar-target="licenseIcon" data-bs-toggle="modal" data-bs-target="#licensesModal"><i class="fa-solid fa-plus icon-add-user"></i></div>
</div>
