<div class="modal fade" id="toolModal" tabindex="-1" aria-labelledby="modal-title" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modal-title">Titre</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body" id="modal-body">
        <h6 class="mt-3">Fonctionnalités incluses :</h6>
        <ul id="feature-list" class="list-unstyled">
        </ul>
      </div>
      <div class="modal-footer d-flex justify-content-between w-100">
        <p id="message-footer" class="m-0 flex-grow-1"></p>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
      </div>
    </div>
  </div>
</div>
