<div class="sidebar">
  <h3 class="text-white"><strong>Logo+Stackr</strong></h3>
  <button class="dropdown-btn">
    Organization
    <i class="fa-regular fa-square-caret-down"></i>
  </button>
  <div class="dropdown-container">
    <a href="#">Employees</a>
    <a href="#">Teams</a>
    <a href="#">Plans</a>
  </div>
  <a href="#">Marketplace</a>
</div>
