<div class="sidebar" data-controller="dropdown">
  <h3 class="text-white"><strong>Logo+Stackr</strong></h3>
  <button class="dropdown-btn" data-action="click->dropdown#toggle">
    Stack Space
    <i class="fa-solid fa-angle-down"></i>
  </button>
  <div class="dropdown-container" data-dropdown-target="menu">
    <a href="#">Personnal Stack</a>
    <a href="#">Team Stack</a>
    <a href="#">Organization Stack</a>
  </div>
  <a href="#">App Store</a>
</div>
