<div class="sidebar" data-controller="dropdown">
  <h3 class="text-white"><strong>Logo+Stackr</strong></h3>
  <button class="dropdown-btn" data-action="click->dropdown#toggle">
    Stack Space
    <i class="fa-solid fa-angle-down"></i>
  </button>
  <div class="dropdown-container" data-dropdown-target="menu">
    <span>Personnal Stack</span>
    <%= link_to team_path(@team) do %>
      <span>Team Stack</span>
    <% end %>
    <span>Organization Stack</span>
  </div>
  <span>App Store</span>
</div>
