.category-slider {
  display: flex;
  overflow-x: scroll;
}

.orga-card-container {
  margin: 0px 30px;
}

.orga-search-bar {
  margin: 20px 0px;
  display: flex;
  justify-content: center;

}

.orga-search-field {
  border: 1px solid grey;
}
