<div class="container m-4">
  <h2 style="color: red"> ALERTE </h2>
  <p> ATTENTION POTENTIEL HACK DE VOTRE SOLUTION </p>

  <p> Mayday Mayday <p>

<div class="progress">
  <div class="progress-bar" role="progressbar" aria-label="Basic example" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
</div>

<!-- New markup -->
  <div class="progress" role="progressbar" aria-label="Basic example" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
    <div class="progress-bar" style="width: 25%"></div>
  </div>  

</div>
