.card-background {
  background-color: $light-gray;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2);
  border-radius: 15px;
};

.card-title {
  font-weight: 700;
  font-family: $headers-font;
};

.team-card {
  width: 300px;
  height: 250px;
  text-align: center;
  margin: 30px;
  border: 1px solid rgb(221, 221, 221);
  display: flex;
  flex-direction: column;
  align-content: center;
  overflow: hidden;
};

$random-color: rgba(random(256), random(256), random(256), 0.3);

.team-title {
  border-radius: 90px;
  margin: 30px;
  padding: 16px 5px;
  font-weight: 700;
  border: 1px solid rgba(0, 0, 0, 0.1)
};

.tool-stack-card {
  display: grid;
  grid-template-columns: 2fr 3fr;
  gap: 10px;
  width: 500px;
  height: 250px;
  margin: 10px;
};

.tool-stack-gray-part {
  background-color: $google-gray;
  border-radius: 15px 0px 0px 15px;
  height: 100%;
  padding: 0px 10px;
};

.tool-stack-infos-part {
  padding: 5px;
};

.top-card-banner {
  background-color: rgb(236, 236, 236);
  margin-bottom: 14px;
};

.license-inline-card {
  display: grid;
  grid-template-columns: 1fr 2fr 2fr 2fr 1fr;
  gap: 10px;
  width: 1020px;
  height: 100px;
};

.license-inline-infos {
  padding-top: 10px;
  & p {
    margin-bottom: 0px;
  };
};

.center-element {
  display: flex;
  align-items: center;
};
