.sidebar {
  display:flex;
  flex-direction: column;
  height: 100%;
  width: 250px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #282829;
  overflow-x: hidden;

  .menu-item {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 16px;
    color: #1EDD88;
    display: flex;
    flex-direction: column;
    margin-left: 8px;
    margin-top: 10px;


    &:hover {
      height: auto;
      width: 80%;
      border-radius: 10px;
      background-color: #1EDD88;
      color: #282829;
    }
  }

  .dropdown-item {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 14px;
    color: #1EDD88;
    display: flex;
    flex-direction: column;
    margin-left: 24px;
    margin-top: 10px;

    &:hover {
      height: auto;
      width: 80%;
      border-radius: 10px;
      background-color: #1EDD88;
      color: #282829;
    }
  }

  .top-element {
    display:flex;
    align-items: center;
    border-bottom: solid;
    border-color: #DDDFEB;
    border-width: 0.1vw;
    padding: 10px;

    .img-header {
      max-width: 20%;
      height: auto;
      border-radius: 50%;
      box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .075);
      margin: 0px 12px;
    }

    h3 {
      font-weight: bolder;
      color: #1EDD88;
    }
  }

  .bottom-element {
    display: flex;
    align-items: center;
    margin-top: auto;
    border-top: solid;
    border-color: #DDDFEB;
    border-width: 0.1vw;
    padding: 10px;

    .img-footer {
      max-width: 20%;
      height: auto;
      border-radius: 50%;
      box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .075);
      margin: 0px 12px;
    }

    p {
      color: #1EDD88;
      padding-top: 20px;
    }
  }

  .dropdown-btn {
    background: none;
    border: none;
    padding: 6px 8px 6px 16px;
    margin-left: 8px;
    margin-top: 10px;
    text-decoration: none;
    font-size: 16px;
    color: #1EDD88;
    display: block;
    width: 80%;
    text-align: left;
    cursor: pointer;
    position: relative;

    &:hover {
      height: auto;
      width: 80%;
      border-radius: 10px;
      background-color: #1EDD88;
      color: #282829;
    }

    &.active {
      display: block;
      }
  }
}

.dropdown-container {
  display: none;
  background-color: #262626;
  padding-left: 8px;
  text-decoration: none;
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.3s ease;

  &.active {
    display: block;
    max-height: 300px;
  }

  & a {
    text-decoration: none;
  }
}

.fa-angle-left {
  float: right;
  padding-right: 8px;
  padding-top: 4px;
  transition: transform 0.3s ease;

  &.active {
    transform: rotate(-0.25turn);
  }
}

.main {
  margin-left: 250px;
  padding: 0px 10px;
}
