a {
  text-decoration: none;
}

.main {
  margin-left: 80px;
  padding: 0px 10px;
  transition: margin-left 0.3s ease;
}

.main.expanded {
  margin-left: 250px;
  padding: 0px 10px;
}

.sidebar {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 80px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #282829;
  overflow-x: hidden;
  transition: width 0.3s ease;
}

.sidebar:hover {
  width: 250px;
}

.sidebar:hover .sidebar-menu {
  align-items: start;
}

.sidebar.expanded {
  width: 250px;
}

.sidebar.expanded .sidebar-menu {
  align-items: start;
}

.sidebar.expanded .sidebar-title,
.sidebar.expanded .menu-text,
.sidebar.expanded .bottom-element p {
  display: inline;
  margin-left: 8px;
}

.sidebar-title, .menu-text, .bottom-element p {
  display: none;
  white-space: nowrap;
}

.sidebar:hover .sidebar-title,
.sidebar:hover .menu-text,
.sidebar:hover .bottom-element p {
  display: inline;
  margin-left: 8px;
}

.menu-item {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 16px;
  color: #1EDD88;
  display: flex;
  flex-direction: column;
  margin-left: 8px;
  margin-top: 10px;
}

.menu-item:hover {
  color: #1EDD88;
}

.dropdown-item {
  padding: 8px 16px;
  height: 40px;
  text-decoration: none;
  font-size: 16px;
  color: white;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  border-radius: 75px 75px;
  transition: 0.3s;
}

.dropdown-item:hover {
  color: #8afcc8;
}

.sidebar-active-tab {
  padding: 8px 16px;
  height: 40px;
  text-decoration: none;
  font-size: 16px;
  color: #1EDD88;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  border-radius: 75px 75px;
  transition: 0.3s;
}

.top-element {
  display: flex;
  align-items: center;
  border-bottom: solid;
  border-color: #DDDFEB;
  border-width: 0.1vw;
  padding: 10px;
  height: 70px;
}

.top-element .img-header {
  max-width: 20%;
  border-radius: 50%;
  box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .075);
  margin: 0px 12px;
}

.top-element h3 {
  font-weight: bolder;
  color: white;
  margin: 0;
}

.bottom-element {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: auto;
  border-top: solid;
  border-color: #DDDFEB;
  border-width: 0.1vw;
  padding: 10px;
  height: 70px;
}

.bottom-element .img-footer {
  width: 43px;
  height: auto;
  border-radius: 50%;
  box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .075);
}

.bottom-element p {
  color: #1EDD88;
  padding-top: 20px;
}

.dropdown-btn {
  background: none;
  border: none;
  padding: 6px 8px 6px 16px;
  margin-left: 8px;
  text-decoration: none;
  font-size: 16px;
  color: #1EDD88;
  display: block;
  width: 80%;
  text-align: left;
  cursor: pointer;
  position: relative;
}

.dropdown-btn:hover {
  height: auto;
  border-radius: 75px 75px;
  background-color: #1EDD88;
  color: #282829;
}

.dropdown-btn.active {
  display: block;
}

.dropdown-container {
  margin: 0px 12px;
  background-color: #434343;
  padding: 20px 10px;
  text-decoration: none;
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.3s ease, padding 0.3s ease;
}

.fa-angle-left {
  float: right;
  padding-right: 8px;
  padding-top: 4px;
  transition: transform 0.3s ease;
}

.fa-angle-left.active {
  transform: rotate(-0.25turn);
}

.sb-top-content {
  display: flex;
  align-items: center;
  margin-bottom: 12px;
}

.sb-top-content img {
  width: 36px;
  margin: 0px 10px;
}

.sidebar-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 290px;
  margin: 16px;
  margin-top: 0;
  padding: 12px 0px;
}
