.sticker {
  display: inline-block;
  border-radius: 30px;
  padding-inline: 8px;
  width: fit-content;
  font-size: 12px;
};
.active-sticker {
  color: white;
  background-color: #282829;
};

.past-sticker {
  color:#282829;
  background-color: $google-gray;
};

.approved-sticker {
  color: rgb(255, 255, 255);
  background-color: #4ac348;
};

.pending-sticker {
  color:#282829;
  background-color: #d5c837;
};

.declined-sticker {
  color: rgb(255, 253, 253);
  background-color: #d34444;
};
