<h1><%= current_user.team.organization.name.upcase %></h1>

<h3> TO DO </h3>
<p> Afficher stack de l'organisation, des teams et de l'employé </p>

<%= link_to "Back", root_path, class: "btn btn-dark" %>
